#flashcard-container {
  background: #ffffff;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  /* gap: 5px; */
  height: 580px;
  overflow-y: auto;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  justify-items: flex-start;
  align-items: flex-start;  
  border: 5px solid #765bee84;
  border-radius: 0 10px 10px 10px;
}

