.flashcard-summary-container{
  /* height:100vh; */
  overflow-y: hidden;
  border:2px solid #ccc;
    /* border-radius: 10px; */
    height:100vh;
    overflow:hidden;
    position: relative;
    top:5px;
    /* box-sizing: border-box; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: white;
  }
  #headingg {
    margin: 20px auto;
    margin-bottom: 0px;
    width: 70%;
    align-items: center;
    text-align: center;
}
#head_para {
  text-align: center; /* Ensure paragraph text is centered */
  width: 900px; 
  height: fit-content;
  margin: 0 auto; /* Center the paragraph within its container */
}
#headingg h1 {
    margin: 0;
    font-size: 36px; /* Larger font size for emphasis */
    color: #333;
    font-weight: bold;
    letter-spacing: 1px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2); /* Subtle shadow for text */
}

#headingg p {
    font-size: 18px; /* Slightly smaller than the heading */
    color: #555;
    margin-top: 15px;
    line-height: 1.5;
    width: 900px;
    text-align: center;
}
.content-container {
  width: 80%;
  margin: 20px auto; 
  /* flex:1; */
  height:70%;
  padding: 15px;
 
  
  border-radius: 10px; 
  /* background: #ab3737;  */
  
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#slider{
  width:100%;
}