.flip-card {
    background-color: transparent;
    width: 80%;
    height: 80%;
    font-family: 'Poppins', sans-serif;
    align-items: center;
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  .flip-card.flipped .flip-card-inner {
    transform: rotateY(180deg) scale(1.1);
    height: 105%;
  }
  .flip-card-front,
.flip-card-back {

  
  position: absolute;
  display: flex;
  flex-direction: column;
  color: white;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border: none;
  border-radius: 1rem;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5), 0 1px 3px rgba(0, 0, 0, 0.5);
  transition: all 2s ease-in-out;
}
.flip-card-front p {
    margin: 10px;
   
  }

  .flip-card-front {
    background: linear-gradient(135deg, #ff9a9e, #fad0c4);
    align-items: center;
    justify-content: center;
    font-size: 1.1em;
    font-weight: bold;
    padding-bottom:20%;
  }
 
  .flip-card-back {
    color: white;
    transform: rotateY(180deg);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.9em;
  }
  /*title is used at flipcard back*/
  .title {
    font-size: 1.5em;
    font-weight: 900;
    text-align: center;
    margin: 0;
  }
  #cheatsheet {
    z-index: 1000;
    position: absolute;
    background: white;
    height: 50%;
    width: 100%;
    bottom: -40%;
    transition: bottom 0.4s ease-in-out;
    padding: 15px;
    font-size: 13px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  .flip-card-front:hover #cheatsheet{
    bottom:0;
  }

  