 #SummarizedNoteContent {
     background: rgb(255, 254, 255);
     height: 100%;
     overflow-y:auto ;
     width: 100%;
     backdrop-filter: blur(10px);
     border-top-right-radius:10px ;
     border-bottom-right-radius:10px ;
 }
#SummarizedNoteContent p{
    height: 100%;
    padding: 10px;
    padding-top: 0px;
    font-size: 15px;}