 #SummarizedNote {
     background: white;
     backdrop-filter: blur(10px);
     box-shadow: 0 4px 6px rgba(0, 0, 0, 0), 0 1px 3px rgba(0, 0, 0, 0.5);
     padding: 20px;
     border-radius: 10px;
     height: fit-content;
     width:78%;
 }

 #SummarizedNoteContent {
     padding: 10px;
     margin: 5px;
 }

 #noteSummary {
     display: flex;
     justify-content: center;
     position: relative;
 }

 #SummarizedNoteHeading {
     font-size: 30px;
     font-weight: 25px;
 }