  #slide-box { 
    position: relative;
    width: 90%;
    height: 90%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    overflow: hidden;
    display: flex;
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    /* height: max(100%, 70vh); */
    background: white;
}

  #overlayS {
    left: 0;
    width: 50%;
    height: 100%;
    position: relative;
    overflow: hidden;
  }
  

  #addNote {
    transform: translateX(0);
    transition-duration: 1s;
    height: 100%;
  }

  #uploadDoc {
    transform: translateX(20%);
    transition-duration: 1s;
    height: 100%;
  }


  .overlayS-moveHalfRight #uploadDoc {
    transform: translateX(0);
    transition-duration: 1s;
  }
  
  .overlayS-moveHalfRight {
    animation-name: move-slide-right;
    animation-fill-mode: forwards;
    animation-duration: 1s;
  }



  @keyframes move-slide-right {
    0% {
      left: 0;
    }
    50% {
      width: 50%;
    }
    100% {
      left: 50%;
      background-position: 100%;
    }
  }
  
  .overlayInnerS-moveHalfLeft #addNote {
    transform: translateX(-20%);
    transition-duration: 1s;
  }
  
  .overlayS-moveHalfLeft {
    animation-name: move-slide-back-right;
    animation-fill-mode: forwards;
    animation-duration: 1s; 
  }

  @keyframes move-slide-back-right {
    0% {
      left: 50%;
      background-position: right;
    }
    50% {
      width: 50%;
    }
    100% {
      left: 0;
      background-position: left;
    }
  }
  
  #overlayInnerS {
    position: absolute;
    width: 200%;
    height: 100%;
    display:flex;
    justify-content: center;
  }
  
  .overlayInnerS-moveHalfLeft {
    animation-name: move-slide-left;
    animation-fill-mode: forwards;
    animation-duration: 1s;
  }
  
  @keyframes move-slide-left {
    0% {
      left: 0;
    }
    100% {
      left: -100%;
      background-position: left;
    }
  }
  
  .overlayInnerS-moveHalfRight {
    animation-name: move-slide-back-left;
    animation-fill-mode: forwards;
    animation-duration: 1s;
  }

  @keyframes move-slide-back-left {
    0% {
      left: -100%;
    }
    100% {
      left: 0;
      background-position: left;
    }
  }
  
  #overlayInnerS > div {
    flex: 1;
  }

  #overlayS {
    /* background: linear-gradient(135deg, rgb(215, 235, 235), rgb(244, 175, 233), rgb(157, 126, 243)); */
    border: none;
    background: linear-gradient( #765BEE, #FF9EB5);

  }
  
  #uploadDoc,
  #addNote {
    text-align: center;
    padding: 140px 40px;
    color: #fff;
  }
  #uploadDoc button,
  #addNote button {
    margin-top: 20px;
    text-transform: uppercase;
    color: #fff;
    background-color: transparent;
    border-radius: 20px;
    border: 1px solid rgb(255, 255, 255);
    padding: 10px 40px;
    cursor: pointer;
  }


  #content {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -100;
    display: flex;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  #content > div {
    flex: 1;
  }

  #pdfContent,
#noteContent {
    width: 50%;
  overflow: hidden;
}
#pdfContent .holderS {
  transform: translateX(0);
  transition-duration: 1s;
  display:flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
}
#pdfContent.leftSideContent .holderS {
  transition-duration: 1s;
}
#noteContent .holderS {
  transition-duration: 1s;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: #ffffff;
  height: 100%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
}

#noteContent,
#pdfContent {
  text-align: center;
}
#noteContent h1,
#pdfContent h1 {
  margin-top: 4.5rem;

  
}

#content > div {
    background-color: #fff;
  }


 



  /* Select dropdown */
#selectnotesbutton {
    width: 70%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 15px;
    outline: none;
    cursor: pointer;
}

/* Button */
#submitnote {
    width: 70%;
    padding: 12px;
    font-size: 16px;
    background-color:linear-gradient(to right, #964992, #fa86b6, #f85479);
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
}

#submitnote:hover {
    background-color:linear-gradient(to right, #964992, #fa86b6, #f85479);
}

#animation-card1 {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: #ecadc0; */
    /* height: 50%; */
    width: 60px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  