@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
  width: 100vw; 
  height: 100vh; 
  overflow: hidden;
  background: #F6F5F5;
  font-family: 'Montserrat', sans-serif; 
}

.app-container{
  display:flex;
  height:100vh;
  width:100vw;
  overflow:hidden;
}

.content-container{
  height:100vh;
  flex:3;
  /* padding:5px; */
  /* padding:5px; */
  overflow: hidden;
  background: #F6F5F5 !important;
  background: #F6F5F5 !important;
}

#navbar{
  flex:1;
  background: blue;
}

@media (max-width: 426px){
  #navbar{
    display:none;
  }
}

/* Hide scrollbar arrows */
::-webkit-scrollbar-button {
  display: none;
}

/* Minimal width scrollbar */
::-webkit-scrollbar {
  width: 6px; /* Adjust as needed */
  height: 6px;
}

/* Default scrollbar track (background) */
::-webkit-scrollbar-track {
  background: transparent; /* Invisible when not hovered */
}

/* Default scrollbar thumb (scroll handle) */
::-webkit-scrollbar-thumb {
  background: rgba(100, 100, 100, 0.2); /* Almost invisible */
  border-radius: 6px;
  transition: background 0.3s ease-in-out;
}

/* On hover or scrolling */
::-webkit-scrollbar-thumb:hover {
  background: rgba(100, 100, 100, 0.5); /* More visible */
}

/* Even more visible when actively scrolling */
::-webkit-scrollbar-thumb:active {
  background: rgba(100, 100, 100, 0.8);
}

.nav-link {
  text-decoration: none;
}
